{% extends "blogs/base.html" %}

{% block page_header %}
  <h1>Posts</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for blog_post in blog_posts %}
            <li><h3>
                <small>{{ blog_post.date_added|date:'M d, Y H:i' }}:</small>
                <a href="{% url 'blogs:post' blog_post.id %}">
                    {{ blog_post }}
                </a> 
            </h3></li>
        {% empty %}
            <li><h3>No posts have been added yet.</h3></li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <h3><a href="{% url 'blogs:new_post' %}">Add a new post</a></h3>
    {% endif %}

{% endblock content %}
